$noDisponible: (
    transition: none,
    filter:  unquote("grayscale(100% )"),
    transform: none,
)
/* Este mapa sirve para cuando un producto está fuera de stock, que aparezca en gris y no tenga animación alguna */