*{
    padding: 0;
    margin: 0;
    
}

@import '../sass/fonts';
@import '../sass/variables';

@import '../sass/component/video';
@import '../sass/component/footer';
@import '../sass/component/tarjetas';
@import '../sass/component/header';
@import '../sass/component/carro';
@import '../sass/component/preguntas';
@import '../sass/component/tabla';
@import '../sass/mapas';
@import '../sass/extend';
@import '../sass/mixin';

@import '../sass/component/medias';


body{
    background-image: url(../multi/img/background.jpg);
}